.addBudget-mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 524px;
}

.addBudget-addBudgetContainer {
  width: 440px;
  height: 476px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.addBudget-header {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  justify-content: space-between;
}

.addBudget-hr {
  width: 100%;
  border-top: 1px solid black;
}

.addBudget-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.addBudget-amount {
  font-size: 16px;
}

.addBudget-formInput {
  width: 100%;
  height: 51px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8E8E93;
  font-size: 16px;
}

.addBudget-submitButton {
  width: 100%;
  height: 48px;
  background-color: #5C6AFF;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
} 