.chart-mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chart-leftContainer {
  /* Add any specific styles if needed */
}

.chart-rightContainer {
  /* Add any specific styles if needed */
}

.chart-chartHeader {
  /* Add any specific styles if needed */
} 