.chart-mainContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.chart-leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.chart-rightContainer {
 width: 50%;
}

.chart-chartHeader p{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
} 